<?xml version="1.0" encoding="ISO-8859-1"?>


<!--
   File used to configure the display and the keyboard used
-->

<Root>

  <DisplaySettings>
  	<Renderer value="LWJGL"></Renderer>
  	<Width value="1024"></Width>
  	<Heigth value="768"></Heigth>
  	<Depth value="24"></Depth>
  	<Frequency value="-1"></Frequency>
  	<Fullscreen value="false"></Fullscreen>
  	<Title value=" Version using xml "></Title>  
   </DisplaySettings>
   
   <KeyboardSettings>  
	<Accept>A</Accept>  
	<Back>S</Back>
	<Run>RETURN</Run>
	<Menu>ESCAPE</Menu>
	<CameraR>Y</CameraR>
	<CameraL>T</CameraL>
	<CameraU>G</CameraU>
	<CameraD>H</CameraD>
	<CameraF>B</CameraF>
	<CameraN>N</CameraN>
	<MoveU>UP</MoveU>
	<MoveD>DOWN</MoveD>
	<MoveR>RIGHT</MoveR>
	<MoveL>LEFT</MoveL>
	<Exit>F12</Exit> 
   </KeyboardSettings>
   
   <AudioSettings>
   	<FadeIn>0.5</FadeIn>
   	<FadeOut>0.5</FadeOut>
   	<RepeatMusic>-1</RepeatMusic>
   </AudioSettings>
   
   <SaveSettings>
   	<File>save.xml</File>
   	<Path>res/save/</Path>
   </SaveSettings>
      
</Root>
